<h1>一覧ページ</h1>
<% @users.each do |user| %>
  <div>
    <p>名前: <%= user.first_name %></p>
    <p>苗字: <%= user.family_name %></p>
    <%= link_to "詳細ページ", user_path(user.id) %>
  </div>
  <hr>
<% end %>
<%= link_to "登録ページ", users_new_path %>
